<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
	<h2>CART</h2>
	<h1 th:text="${cartsize}"></h1>
<div th:each ="prod : ${list}">
<div style= "border:1px solid black">
<div th:text = "${prod.name}">
</div>
<div th:text = "${prod.price}">
</div>
<a th:href="@{'addtocart/'+${prod.name}+'/'}">Add</a>
</div>
</div>

</body>
</html>